body {      
            background:linear-gradient(150deg,rgb(2, 33, 206), #1d7cca,   #b62191d5, rgb(78, 2, 150));
            padding: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
          }

 /*logo con borde de varios colores*/

          img {
            
            display: block;
            margin: auto;
            width: 30%;
            border-radius: 30%;
            border-width: 10px;
            border: 5px solid transparent;
            background-image: linear-gradient(150deg,rgb(0, 38, 255), #1d7cca, rgb(132, 0, 255),  #f80f5d);
            margin-top: 5%;
            margin-bottom: 5%;

           
          }

.buscador{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: 5%;
}

 p{
  color: #fff;
  text-align: center;
 }         
          
/* Elimina la línea subrayada de los botones y agrega un margen a los lados */          
          
.button-link {
            
            text-decoration: none;
            margin-top: 1%;
            margin-bottom: 1%; 
            margin-left: 1%;
            margin-right: 1%;
          }


/*Estilos de boton "agregar".*/
.buttonA{  font-family: 'Playfair Display', serif;
            border: 0;
            background-image: linear-gradient(150deg,rgb(0, 38, 255), #1d7cca,   #e628b7, rgb(132, 0, 255));
            border-radius: 8px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1%;
            margin-right: 1%;  
            font-size: 15px;
            padding: 4px;
            cursor: pointer;
            transition: .3s;}

/*color y animaciones de los botones*/

button {  
            font-family: 'Playfair Display', serif;
            border: 0;
            background-image: linear-gradient(150deg,rgb(0, 38, 255), #1d7cca,   #e628b7, rgb(132, 0, 255));
            border-radius: 8px;
            color: #fff;
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin-left: 1%;
            margin-right: 1%;  
            font-size: 15px;
            padding: 4px;
            cursor: pointer;
            transition: .3s;
            
          }
          
          

          button span {
            background-color: #000000;
            padding: 16px 24px;
            border-radius: 6px;
            transition: .3s;
          }
          
          button:hover span {
            background: none;
          }
          
          button:active {
            transform: scale(0.9);
          }
          
          .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          

          .image-container {
            display: inline-block;
            position: relative;
            border-radius: 30%;
            width: 30%;
            overflow: hidden;
          }
          
          .image-container img {
            display: block;
            width: 100%;
            border-radius: 30%;
          }
          
          .border-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(150deg, rgb(0, 38, 255), #1d7cca, rgb(132, 0, 255), #f80f5d);
            pointer-events: none;
          }
          
/*estilos de la lista de productos*/

          .listaP {
           
            background: linear-gradient(150deg,rgb(0, 38, 255), #1d7cca, rgb(132, 0, 255),  #f80f5d);
            padding: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-size: 15px;
            color: #fff;
            border: 5px solid rgba(78, 2, 150, 0.13);
            margin-top: 5%;
            margin-bottom: 5%;
            

           
            
          }
          
          .listaP ul {
            list-style: none;
            padding: 0;
          }
          
          .listaP li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
          }

/*estilos de la lista de productos vencidos*/

.listaV {
           
            background: linear-gradient(150deg,rgb(0, 38, 255), #1d7cca, rgb(132, 0, 255),  #f80f5d);
            padding: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-size: 15px;
            color: #a31313;
            border: 5px solid rgba(78, 2, 150, 0.13);
            margin-top: 5%;
            margin-bottom: 5%;
            

           
            
          }

/*estilos del formulario de productos*/
          .formE{
            text-align: center;
            margin-top: 1%;
            margin-bottom: 1%;
            color: #fff; 
          }


          .mensajeA{
            color: #fff;
            text-align: center;
   }   

   @media (max-width: 767px) {

            img {
                      
              
              width: 60%;
              
          
             
            }
          
            #busqueda{
            
              font-size: 20px;
              background-color: #fff;
            }
            
            #resultadoBusqueda{
              font-size: 20px;
            }
            /* Anular los estilos de .listaP en pantallas móviles */


            .listaP ul {
             list-style: none;
             padding: 0;
             }

            .listaP li {
            margin-bottom: 50px;
            display: block;
            align-items: normal;
             }
            
            
                    }